:root {
    --main-title-color: #333333;
    --main-text-color: #949494;
}

@font-face {
    font-display: swap; 
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/FuturaPT-Light.woff") format("woff"); 
    src: url("/fonts/FuturaPT-Light.woff2") format("woff2"); 
}

@font-face {
    font-display: swap;
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/FuturaPT-Book.woff") format("woff"); 
    src: url("/fonts/FuturaPT-Book.woff2") format("woff2"); 
}

@font-face {
    font-display: swap; 
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/FuturaPT-Medium.woff") format("woff"); 
    src: url("/fonts/FuturaPT-Medium.woff2") format("woff2"); 
}

@font-face {
    font-display: swap; 
    font-family: "FuturaPT";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/FuturaPT-Bold.woff") format("woff"); 
    src: url("/fonts/FuturaPT-Bold.woff2") format("woff2"); 
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "FuturaPT" , "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    background: url(/images/img/body_bg.png), #F9F9F9;
    
}

html {
    height: 100%;
}

main {
    flex-grow: 1;
}


.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    
}

/* Header */

.site-header {
    background-color: #F9F8F8;
}

.site-header__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0px 13px 250px;
}

.site-header__map {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-title-color);
    text-decoration: none;
}


.site-header__map::before {
    content: " ";
    width: 14px;
    height: 13px;
    background: url(/images/icons/house.svg);
    background-size: 14px 13px;
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: -20px;
    
}


.site-header__phonelist {
    position: relative;
    display: flex;
    gap: 13px;
    list-style: none;
    padding: 0;
}

.site-header__phonelist::before {
    content: " ";
    width: 14px;
    height: 13px;
    background: url(/images/icons/phone.svg);
    background-size: 13px 13px;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: -22px;
}


.site-header--round::before {
    content: "";
    width: 4px;
    height: 4px;
    display: inline-block;
    background-color: #FFBD54;
    border-radius: 50%;
    margin-right: 9px;  
    margin-bottom: 2px;
}

.site-header--round::after {
    content: "";
    width: 4px;
    height: 4px;
    display: inline-block;
    background-color: #FFBD54;
    border-radius: 50%;
    margin-left: 9px;  
    margin-bottom: 2px;
}


.site-header__phonelink {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-title-color);
    text-decoration: none;
}

.site-header__phonelink:hover {
    color: #FFBD54;
}

.site-header__phonelink:active {
    color: var(--main-title-color);
    opacity: 0.6;
}


.site-header__timelist {
    position: relative;
    display: flex;
    gap:17px;
    list-style: none;
    padding: 0;
}

.site-header--schedule::before {
    content: " ";
    width: 14px;
    height: 14px;
    background: url(/images/icons/schedule.svg);
    background-size: 14px 14px;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: -22px;
}

.site-header__time {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-title-color);
}


.header-end {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
}


.header-end__wrapper {
    height: 61px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-end__nav {
    padding-left: 170px;
}


.header-end__list {
    position: relative;
    display: flex;
    gap: 55px;
    list-style: none;
    padding: 0;
}



.header-end__link {        
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-title-color);
    text-decoration: none;
    border-bottom: 4px solid transparent;
}

.header-end__link:hover {
    border-bottom: 4px solid #F4FFAD;
}

.header-end__link:active {
    opacity: 0.6;
}

.header-end__list::before {
    content: " ";
    width: 20px;
    height: 20px;
    background-image: url(/images/icons/fish.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 2px;
    left: -30px;
}

.header-end__link--footprint {
    position: relative;
}


.header-end__link--footprint::before {
    content: " ";
    width: 23px;
    height: 20px;
    background-image: url(/images/icons/footprint.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 1px;
    left: -30px;
}


.header-end__logo {
    position: absolute;
    bottom: calc(50% - 35px);
    
}

.header-end__logo:hover{
    opacity: 0.8;
}

.header-end__logo:active{
    opacity: 0.6;
}

/* Main starts */

.site-hero__flex {
    width: 50%;
}

.site-hero__inner {
    display: flex;
    padding-top: 153px;
    padding-bottom: 327px;
    
    
}

.site-hero__wrapper {
    display: block;
    width: 608px;
    
}


.site-hero__heading {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: var(--main-title-color);
}

.site-hero__heading--color {
    color: #78C0DE;
}

.site-hero__desc {
    width: 495px;
    padding-bottom: 53px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-text-color);
}

.site-hero__link {
    padding: 15px 48px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #333333;
    border-radius: 3px;
    text-decoration: none;
}

.site-hero__link:hover {
    background: #FFBD54;
    color: var(--main-title-color)
}

.site-hero__link:active {
    opacity: 0.6;
}


.site-hero {
    background: url(/images/img/hero_bg.png), url(/images/img/bg-parrot.png);
    background-size: 870px 834px 319px 430px;
    background-repeat: no-repeat;
    background-position: 
    bottom calc(150px) left calc(-150px),
    top calc(380px + 10px) right calc(100px + 10px);
    
}

/* Quote section */

.quote-section__text {
    position: relative;
    width: 753px;
    margin: 0 auto;
}

blockquote {
    
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: var(--main-text-color);
}

.quote-section__caption {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: var(--main-title-color);
}

blockquote::before {
    content: "";
    display: block;
    width: 140px;
    border: 1px solid #DBDBDB;
    margin: 0 auto 43px;
    
}

blockquote::after {
    content: "";
    display: block;
    width: 140px;
    border: 1px solid #DBDBDB;
    margin: 43px auto 35px;
    
}

.quote-section__text::before {
    content: "";
    background-image: url(/images/img/open_quote.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: cover;
    position: absolute;
    left: -15%;
    top: 10%;
}

.quote-section__text::after {
    content: "";
    background-image: url(/images/img/closing_quote.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: cover;
    position: absolute;
    right: -15%;
    top: 30%;
}

/* Services start */

.services {
    padding-top: 191px;
    padding-bottom: 14px;
}

.services__hero {
    padding-bottom: 80px;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
}

.services__inner {
    position: relative;
}


.services__left-arrow {
    position: absolute;
    top: 40%;
    left: calc(-5% - 20px);
    padding: 0;
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url(/images/icons/left_arrow.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    display: block;
}

.services__left-arrow:hover {
    background-color: #fff;
}

.services__left-arrow:active {
    opacity: 0.6;
}

.services__right-arrow {
    position: absolute;
    top: 40%;
    right: calc(-5% - 20px);
    padding: 0;
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background: url(/images/icons/right_arrow.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.services__right-arrow:hover {
    background-color: #fff;
}

.services__right-arrow:active {
    opacity: 0.6;
}


.services__list {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}

.services__item {
    position: relative;
    width: 193px;
    background: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #fff;
}

.services__item:nth-child(1) {
    margin-top: 13px;
    height: 215px;
}

.services__item:hover{
    opacity: 0.8;
}

.services__item:active {
    opacity: 0.6;
}

.services__title {
    margin: 0;
    padding: 129px 35px 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--main-title-color);
    text-align: center;
}

.services__link {
    text-decoration: none;
}

.services__link--maleicon::before {
    position: absolute;
    top: 15%;
    left: 40%;
    content: "";
    width: 55px;
    height: 79px;
    background: url(/images/icons/male_doctor.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

.services__link--womanicon::before {
    position: absolute;
    top: 15%;
    left: 35%;
    content: "";
    width: 58px;
    height: 77px;
    background: url(/images/icons/woman_doctor.svg);
    background-size: cover;
    background-size: 58px 76px;
    background-repeat: no-repeat;
    display: block;
    
}

.services__link--injection::before {
    position: absolute;
    top: 15%;
    left: 35%;
    content: "";
    width: 72px;
    height: 77px;
    background: url(/images/icons/surgical_intervention.svg);
    background-size: cover;
    background-size: 72px 77px;
    background-repeat: no-repeat;
    display: block;
}

.services__link--dermatology::before {
    position: absolute;
    top: 15%;
    left: 30%;
    content: "";
    width: 75px;
    height: 75px;
    background: url(/images/icons/dermatology.svg);
    background-size: cover;
    background-size: 75px 75px;
    background-repeat: no-repeat;
    display: block;
}

.services__title--padding {
    padding-top: 138px;
    padding-bottom: 39px;
}

.services__link--diagnosis::before {
    position: absolute;
    top: 15%;
    left: 30%;
    content: "";
    width: 78px;
    height: 78px;
    background: url(/images/icons/microscope.svg);
    background-size: cover;
    background-size: 78px 78px;
    background-repeat: no-repeat;
    display: block;
}

.services__link--ophthalmology::before {
    position: absolute;
    top: 15%;
    left: 30%;
    content: "";
    width: 78px;
    height: 78px;
    background: url(/images/icons/ophthalmology.svg);
    background-size: cover;
    background-size: 78px 78px;
    background-repeat: no-repeat;
    display: block;
}

.services-blog {
    padding-bottom: 127px;
}


.services-blog__wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 42px 105px 43px 27px;
    background: #FFFFFF;
    border-radius: 0px 5px 5px 5px;
    
}

.services-blog__text {
    width: 492px;
    
}


.services-blog__title {
    padding-bottom: 18px;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    color: var(--main-title-color);
}

.services-blog__desc, .services-blog__desc-extra  {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-text-color);
    
}

.services-blog__desc-extra {
    padding-top: 9px;
    padding-bottom: 49px;
}

.services-blog__link-price {
    position: relative;
    margin-right: 21px;
    padding: 15px 36px 16px 63px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #FFBD54;
    border-radius: 3px;
    text-decoration: none;
}

.services-blog__link-price::before {
    content: " ";
    width: 21px;
    height: 21px;
    background: url(/images/icons/money.svg);
    background-size: 21px 21px;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    left: 35px;
    
}

.services-blog__link-price:hover {
    background: #333333;
    border-radius: 3px;
    color: #FFBD54;
}

.services-blog__link-price:active {
    opacity: 0.6;
}

.services-blog__link-appoinment {
    position: relative;
    padding: 15px 37px 16px 64px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #333333;
    border-radius: 3px;
    text-decoration: none;
}

.services-blog__link-appoinment::before {
    content: " ";
    width: 21px;
    height: 21px;
    background: url(/images/icons/draft.svg);
    background-size: 21px 21px;
    background-position: ;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    left: 35px;
}

/* Subscription section start */

.subscription {
    width: 100%;
    height: 308px;
    background-image: url(/images/img/subcribe_bgg.png);
    background-size: cover;
    
}

.subscription__wrapper {
    padding-top: 100px;
    padding-left: 150px;
}

.subscription__hero {
    padding-bottom: 32px;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    color: #fff;
}

input::placeholder {
    font-family: "FuturaPT";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-text-color);
    
}

.subscription__email {
    padding-left: 22px;
    width: 355px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: #fff;
}

.subscription__email:focus {
    border: 2px solid #FFBD54;
    border-radius: 5px;
    outline: none;
} 


.subscription__btn {
    margin-left: 21px;
    padding: 13px 53px 14px 53px;
    font-family: "FuturaPT";
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
    background: #333333;
    border-radius: 3px;
}

/* Blog section starts */

.blog-section {
    padding-bottom: 265px;
}

.blog-section__hero {
    padding-top: 151px;
    padding-bottom: 80px;
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    color: var(--main-title-color);
    text-align: center;
}

.blog-section__list {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
}

.blog-section__item {
    width: 305px;
    border: 1px solid #E4E4E2;
    border-radius: 5px;
    background-color: #fff;
}

.blog-section__item:hover {
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.blog-section__time {
    display: block;
    padding-top: 21px;
    padding-right:22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--main-text-color);
    text-align: end;
}

.blog-section__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #000000;
    
}

.blog-section__desc {
    padding-top: 10px;
    padding-bottom: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-text-color);
}


.blog-section__link {
    position: relative;
    padding-left: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-title-color);
    text-decoration: none;
}

.blog-section__link::before {
    content: " ";
    width: 23px;
    height: 20px;
    background-image: url(/images/icons/footprint.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: -2px;
}

.blog-section__text-wrapper {
    width: 100%;
    padding: 2px 31px 36px 30px;
}

.blog-section__center-item {
    display: flex;
    gap: 31px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
}

.blog-section__center-text {
    padding: 41px 34px 37px 0px;
}

.center--time {
    display: inline-block;
}

.blog-section__hashtags {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #3D9CEA;
    text-decoration: none;
}

.center--time {
    padding: 0px 0px 0px 67px;
}

.title--padding {
    padding-top: 31px;
}

.blog-section__center-wrapper {
    width: 270px;
}

.blog-section__end-item {
    width: 305px;
    border: 1px solid #E4E4E2;
    border-radius: 5px;
    background-color: #fff;
}

/* Feedback section starts */

.feedback {
    width: 100%;
    background: url(/images/img/feedback-bg.png);
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feedback__flex-bg {
    width: 100%;
    height: 649px;
    
}

.feedback__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.feedback__text-inner {
    width: 375px;
    padding-top: 62px;
    padding-bottom: 74px;
    
    margin-left: 165px;
}   

.feedback__form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.feedback__title {
    padding-bottom: 14px;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    color: #FFFFFF;
}

.feedback__desc {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #949494;
}

input {
    width: 375px;
    height: 50px;
    border: none;
}

textarea {
    width: 375px;
    height: 165px;
    resize:none;
    border: none;
}

.blog-section__btn {
    margin-top: 30px;
    padding: 15px 50px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #FFBD54;
}

/* Footer section start */
.site-footer {
    width: 100%;
    margin-top: 247px;
    background: #F3F3F3;
    border: 1px solid #EBEBEB;
}

.site-footer__wrapper-start  {
    padding-top: 54px;
    padding-bottom: 28px;
    display: flex;
    gap: 67px;
}

.site-footer__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.site-footer__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-title-color);
    text-decoration: none;
}


.site-footer__list-time {
    padding: 0;
    position: relative;
    list-style: none;
}

.site-footer__list-time::before {
    content: " ";
    width: 16px;
    height: 16px;
    background: url(/images/icons/schedule.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    left: -25px;
}

.site-footer__map {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: var(--main-title-color);
    text-decoration: none;
}

.site-footer__map::before {
    content: " ";
    width: 14px;
    height: 13px;
    background: url(/images/icons/house.svg);
    background-size: 14px 13px;
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    left: -25px;
}

.site-footer__phonelist {
    padding: 0;
    position: relative;
    list-style: none;
}

.site-footer__phonelist::before {
    content: " ";
    width: 14px;
    height: 13px;
    background: url(/images/icons/phone.svg);
    background-size: 13px 13px;
    background-repeat: no-repeat;
    position: absolute;
    top: 3px;
    left: -25px;
}

.site-footer__phonelink {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: right;  
    text-decoration: none;
    color: var(--main-title-color);
    text-align: right;
}

.site-footer__wrapper-address {
    padding-top: 54px;
    display: flex;
    gap: 100px;
}

.site-footer__address {
    width: 157px;
    justify-content: space-between;
}

.site-footer__inner{
    display: flex;
    justify-content: space-between;
    
}

.site-footer__link:hover {
    color: #FFBD54;
}

.site-footer__link:active {
    color: rgba(51, 51, 51, 0.7);
}

.site-footer__copyright {
    padding-bottom: 23px;
    display: block;
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}



